#!/bin/bash
#
# A very crude and ugly script just to tag our running instance 
#
#

EC2_AVAIL_ZONE="`wget -q -O - http://169.254.169.254/latest/meta-data/placement/availability-zone || die \"wget availability-zone has failed: $?\"`"
EC2_INSTANCE_ID=$(wget -q -O - http://169.254.169.254/latest/meta-data/instance-id)
EC2_REGION="`echo \"$EC2_AVAIL_ZONE\" | sed -e 's:\([0-9][0-9]*\)[a-z]*\$:\\1:'`"

GROUP_NAME="{{ project_name }}"

aws ec2 create-tags \
	--region $EC2_REGION \
	--resources $EC2_INSTANCE_ID \
	--tags \
		"Key=Name,Value=$GROUP_NAME-$EC2_INSTANCE_ID" \
		"Key=Group,Value=$GROUP_NAME"

